<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit></app-shopping-edit>
    <hr>
    <div 
    style="border-radius: 20px;margin-bottom: 5px;display:none;"
    class="alert alert-warning" 
    #warningAlert>
      <strong>Warning!</strong> Duplicate Items present in list.
    </div>
    <ul class="list-group">
      <a
        class="list-group-item"
        style="cursor: pointer;border-radius: 20px;margin-bottom: 5px;"
        *ngFor="let ingredient of ingredients"
      >
        {{ ingredient.name }} <span class="badge badge-secondary">{{ ingredient.amount }}</span>
      </a>
    </ul>
  </div>
</div>
