<p>Servers are initialized</p>
<p>Add a Server?</p>
<label for="serverName">Server Name</label><br>
<!-- Event binding -->
<!-- <input 
    type="text" 
    class="form-control" 
    (input)="onUpdateServerName($event)"> -->
<!-- Two-way-binding -->
<input 
    type="text" 
    class="form-control" 
    [(ngModel)]="serverName">
<!-- <p>{{ serverCreationStatus }}</p> -->
<br><p *ngIf="serverCreated; else noServer">{{ serverCreationStatus }}</p>
<ng-template #noServer>
    <p>No Server was created</p>
</ng-template>
<button 
    class="btn btn-primary" 
    [disabled]="!allowNewServer" 
    (click)="onCreateServer()">
    Server+
</button>
<app-server *ngFor="let server of serverList"></app-server>