<br>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Toggle Odd-Even</button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li
            *ngFor = "let num of oddNumbers" 
            [ngClass]= "{odd: num%2 !== 0}" 
            [ngStyle]= "{backgroundColor: num%2!==0? 'lavenderblush': 'white'}"
            class="list-group-item">
            {{ num }}
          </li>
        </div>
        <div *appUnless="onlyOdd">
          <li
            *ngFor = "let num of evenNumbers"
            [ngClass]= "{even: num%2 === 0}"
            [ngStyle]= "{backgroundColor: num%2===0? 'lavender': 'white'}"
            class="list-group-item">
            {{ num }}
          </li>
        </div>
      </ul>
      <div class="alert" appBasicHighlight>
        Styled with basic highlight directive!
      </div>
      <div class="alert" appBetterHighlight>
        Styled with better highlight directive. Hover over me!
      </div>
      <div class="alert" appBestHighlight>
        Styled with the best highlight directive. Hover over me!
      </div>
      <div class="alert" appFinalHighlight [highlightColor]="'violet'" [defaultColor]="'plum'">
        Styled with the final highlight directive. Hover over me!
      </div>
      <div class="alert" [ngSwitch]="value" style="background-color: slategrey;">
        <p *ngSwitchCase="1">The secret key is 1</p>
        <p *ngSwitchCase="3">The secret key is 3</p>
        <p *ngSwitchCase="5">The secret key is 5</p>
        <p *ngSwitchCase="7">The secret key is 7</p>
        <p *ngSwitchCase="9">The secret key is 9</p>
      </div>
    </div>
  </div>
</div>
